@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-yellow-500;
}


.nft-property-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.property-name,
.property-value {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px; /* Match canvas width */
  text-align: center;
}

.scratch-canvas {
  cursor: pointer;
}


